<h1>RequestLockerVisit#index</h1>
<p>Find me in app/views/request_locker_visit/index.html.erb</p>

<div class="row">
  <div class="col-md-6"><h4>My Locker Visit Appointments</h4></div>
  <div class="col-md-6">
    <a href="#">Make new Appointment</a>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Appointment Status</th>
    </tr>
  </thead>

  <tbody>
    <% @my_locker_visits.each do |appointment| %>
      <tr>
        <td><%= appointment.id %></td>
        <td><%= appointment.visit_date_time %></td>
        <td><%= appointment.visit_date_time %></td>
        <td><%= appointment.visit_status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
