<div class="jumbotron">
  <h1>Commercial Bank of India</h1>
  <p>This is Locker Management System of Commercial Bank of India. Please SignUp with your Account Number and Registered Mobile Number and Avail the Facility of Locker in Your Locality.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>