<div class="row">
  <div class="col-md-6"><h4>My Locker Applications</h4></div>
  <div class="col-md-6">
    <%= link_to locker_application_ability(current_user), make_locker_application_path, class: "btn btn-default pull-right #{application_btn_state(current_user)}" %>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Unique ID</th>
      <th>Application Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @locker_applications.each do |locker_application| %>
      <tr>
        <td><%= locker_application.id %></td>
        <td><%= locker_application.request_date %></td>
        <td><%= locker_application.status.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
