<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>CBI</strong></a>
    </div>
    <div class="container">
	    <ul class="nav navbar-nav">
	      <li><a href="<%= root_path %>" class="<%= current_class?(root_path)%>">Home</a></li>
	      </a></li>
	    </ul>
	    <ul class="nav navbar-nav pull-right">
	      <li><a href="<%= new_user_session_path %>">User</a></li>
	      <li><a href="<%= new_admin_session_path %>">Admin</a></li>
	    </ul>
  </div>
  </div>
</nav>